* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant', sans-serif;
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .logo {
  position: absolute;
  max-width: 30vw;
  max-height: 10vw;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../assets/logo.svg");
  background-size: cover;
}

body .text-center {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999;
}

body .text-center .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .text-center .content .bird {
  position: absolute;
  background-image: url("../assets/page-1/bird.png");
  background-size: auto;
  top: 19vh;
  right: -20vh;
  max-width: 30vw;
  max-height: 30vw;
  width: 100%;
  height: 100%;
}

body h1 {
  font-family: 'Baloo 2', sans-serif !important;
  font-style: normal;
  font-weight: 800;
  color: #0451A4;
  font-size: 6vw;
  line-height: 1em;
  text-align: center;
  z-index: 999;
}

body h2 {
  font-family: 'Allan', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 3vw;
  margin-top: 13vh;
  margin-bottom: 2vh;
  text-align: center;
}

body .mountain {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background-size: cover;
}

body .arrow {
  position: relative;
  width: 3.5%;
  height: auto;
  background-size: cover;
  z-index: 999;
}

body .cloud-1 {
  background-image: url("../assets/page-2/cloud-1.svg");
  background-size: cover;
  position: absolute;
  width: 77vh;
  height: 38vh;
  top: 0;
  left: 0;
}

body .cloud-2 {
  position: absolute;
  background-image: url("../assets/page-2/cloud-2.svg");
  background-size: cover;
  width: 73vh;
  height: 38vh;
  top: 0;
  right: 0;
}

body .land {
  position: absolute;
  background-image: url("../assets/page-2/land.svg");
  background-size: cover;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}

body .fence {
  position: absolute;
  background-image: url("../assets/page-2/fence.svg");
  background-size: cover;
  width: 100%;
  height: 30vh;
  bottom: 5vh;
  z-index: 999;
}

body .farm {
  position: absolute;
  background-image: url("../assets/page-2/farm.svg");
  background-size: cover;
  width: 100%;
  height: 63vh;
  z-index: -1;
  bottom: 16vh;
}

body .cow-1 {
  position: absolute;
  background-image: url("../assets/page-2/cow-1.svg");
  background-size: cover;
  width: 14vh;
  height: 10vh;
  left: 0;
  bottom: 32vh;
}

body .row {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  bottom: -65vh;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

body .row .cow-2 {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  left: -127vh;
}

body .row .cow-3 {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: -127vh;
  top: -22vh;
}

body .board {
  position: absolute;
  background-image: url("../assets/page-2/board.svg");
  background-size: cover;
  width: 71.5vh;
  height: 76vh;
  -webkit-transform: translate(80%, -20%);
          transform: translate(80%, -20%);
  top: 35vh;
  z-index: 999;
}

body .board .title {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  color: #693514;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  top: 8vh;
  left: 16vh;
}

body .board .subtitle {
  font-family: 'Alegreya', serif;
  color: #693514;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8vw;
  line-height: 7vh;
  text-align: center;
  top: 18vh;
  left: 6vh;
}

body .board-2 {
  background-image: url("../assets/page-3/board.svg");
  background-size: cover;
  position: absolute;
  width: 71.3vh;
  height: 51vh;
  -webkit-transform: translate(80%, 55%);
          transform: translate(80%, 55%);
  z-index: 999;
}

body .board-2 .title {
  font-family: 'Inter', sans-serif;
  position: absolute;
  font-style: normal;
  font-size: 2.6vw;
  line-height: 5.2vh;
  text-align: center;
  font-weight: 600;
  color: #0451A4;
  -webkit-transform: translate(23%, 150%);
          transform: translate(23%, 150%);
}

body .board-2 .subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 3.6vh;
  text-align: center;
  color: #000;
  -webkit-transform: translate(5%, 270%);
          transform: translate(5%, 270%);
}

body .human {
  background-image: url("../assets/page-3/human.svg");
  background-size: cover;
  position: absolute;
  width: 23.5vh;
  height: 59vh;
  -webkit-transform: translate(180%, 65%);
          transform: translate(180%, 65%);
  z-index: 999;
}
/*# sourceMappingURL=main.css.map */