@font-face {
  font-family: "Brevia Medium";
  src: url("../font/Brevia-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant', sans-serif;
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .logo {
  position: absolute;
  max-width: 30vw;
  max-height: 10vw;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../assets/logo.svg");
  background-size: cover;
}

body .text-center {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999;
}

body .text-center .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .text-center .content .bird {
  position: absolute;
  background-image: url("../assets/page-1/bird.png");
  background-size: auto;
  top: 19vh;
  right: -20vh;
  max-width: 30vw;
  max-height: 30vw;
  width: 100%;
  height: 100%;
}

body h1 {
  font-family: 'Baloo 2', sans-serif !important;
  font-style: normal;
  font-weight: 800;
  color: #0451A4;
  font-size: 6vw;
  line-height: 1em;
  text-align: center;
  z-index: 999;
}

body h2 {
  font-family: 'Allan', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 3vw;
  margin-top: 13vh;
  margin-bottom: 2vh;
  text-align: center;
}

body .mountain {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background-size: cover;
}

body .arrow {
  position: relative;
  width: 3.5%;
  height: auto;
  background-size: cover;
  z-index: 999;
}

body .cloud-1 {
  background-image: url("../assets/page-2/cloud-1.svg");
  background-size: cover;
  position: absolute;
  width: 77vh;
  height: 38vh;
  top: 0;
  left: 0;
}

body .cloud-2 {
  position: absolute;
  background-image: url("../assets/page-2/cloud-2.svg");
  background-size: cover;
  width: 73vh;
  height: 38vh;
  top: 0;
  right: 0;
}

body .land {
  position: absolute;
  background-image: url("../assets/page-2/land.svg");
  background-size: cover;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}

body .fence {
  position: absolute;
  background-image: url("../assets/page-2/fence.svg");
  background-size: cover;
  width: 100%;
  height: 30vh;
  bottom: 5vh;
  z-index: 999;
}

body .farm {
  position: absolute;
  background-image: url("../assets/page-2/farm.svg");
  background-size: cover;
  width: 100%;
  height: 63vh;
  z-index: -1;
  bottom: 16vh;
}

body .cow-1 {
  position: absolute;
  background-image: url("../assets/page-2/cow-1.svg");
  background-size: cover;
  width: 14vh;
  height: 10vh;
  left: 0;
  bottom: 32vh;
}

body .row {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  bottom: -65vh;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

body .row .cow-2 {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  left: -127vh;
}

body .row .cow-3 {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: -127vh;
  top: -22vh;
}

body .board {
  position: absolute;
  background-image: url("../assets/page-2/board.svg");
  background-size: cover;
  width: 71.5vh;
  height: 76vh;
  -webkit-transform: translate(80%, -20%);
          transform: translate(80%, -20%);
  top: 35vh;
  z-index: 999;
}

body .board .title {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  color: #693514;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  top: 8vh;
  left: 16vh;
}

body .board .subtitle {
  font-family: 'Alegreya', serif;
  color: #693514;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8vw;
  line-height: 7vh;
  text-align: center;
  top: 18vh;
  left: 6vh;
}

body .board-2 {
  background-image: url("../assets/page-3/board.svg");
  background-size: cover;
  position: absolute;
  width: 71.3vh;
  height: 51vh;
  -webkit-transform: translate(80%, 55%);
          transform: translate(80%, 55%);
  z-index: 999;
}

body .board-2 .title {
  font-family: 'Inter', sans-serif;
  position: absolute;
  font-style: normal;
  font-size: 2.6vw;
  line-height: 5.2vh;
  text-align: center;
  font-weight: 600;
  color: #0451A4;
  -webkit-transform: translate(23%, 135%);
          transform: translate(23%, 135%);
}

body .board-2 .subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 3.6vh;
  text-align: center;
  color: #000;
  -webkit-transform: translate(5%, 250%);
          transform: translate(5%, 250%);
}

body .human {
  background-image: url("../assets/page-3/human.svg");
  background-size: cover;
  position: absolute;
  width: 23.5vh;
  height: 59vh;
  -webkit-transform: translate(183%, 66%);
          transform: translate(183%, 66%);
  z-index: 999;
}

body .board-3 {
  background-image: url("../assets/page-3/board.svg");
  background-size: cover;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 71.3vh;
  height: 51vh;
  -webkit-transform: translate(80%, 55%);
          transform: translate(80%, 55%);
  z-index: 999;
}

body .board-3 .subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 3.6vh;
  text-align: center;
  color: #000;
  -webkit-transform: translate(6%, 65%);
          transform: translate(6%, 65%);
}

body .board-3 .btn-login {
  font-family: 'Brevia Medium', sans-serif;
  background-color: #0094D9;
  border-radius: 50px;
  border-style: none;
  padding: .8rem 3rem;
  color: #fff;
  -webkit-transform: translate(15%, 300%);
          transform: translate(15%, 300%);
  font-size: 1.6vw;
  z-index: 999;
}

body .board-3 .btn-login:hover {
  cursor: pointer;
}

body .farm-2 {
  position: absolute;
  background-image: url("../assets/page-5/farm.svg");
  background-size: cover;
  width: 100%;
  height: 60vh;
  z-index: -1;
  bottom: 16vh;
}

body .row-cow {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  bottom: -65vh;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

body .row-cow .single-cow {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -12vh;
  top: -28vh;
}

body .human-2 {
  position: absolute;
  background-image: url("../assets/page-5/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  z-index: 999;
  bottom: 2.5vh;
  left: 3vh;
}

body .farm-6 {
  position: absolute;
  background-image: url("../assets/page-6/farm.svg");
  background-size: cover;
  width: 100%;
  height: 55vh;
  z-index: -1;
  bottom: 16vh;
}

body .human-6 {
  position: absolute;
  background-image: url("../assets/page-6/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  z-index: 999;
  bottom: 2.5vh;
  left: 3vh;
}

body .board-6 {
  background-image: url("../assets/page-6/board.svg");
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(12.5%, 30%);
          transform: translate(12.5%, 30%);
  width: 138vh;
  height: 13vh;
  z-index: 999;
  font-family: 'Alfa Slab One', cursive;
  color: #693514;
  font-style: normal;
  text-align: center;
  font-size: 2.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .left-fence {
  position: absolute;
  background-image: url("../assets/page-6/left-fence.svg");
  background-size: cover;
  width: 29vh;
  height: 34vh;
  bottom: 5vh;
  left: 0;
}

body .right-fence {
  position: absolute;
  background-image: url("../assets/page-6/right-fence.svg");
  background-size: cover;
  width: 29vh;
  height: 34vh;
  right: 0;
  bottom: 5vh;
}

body .land-6 {
  position: absolute;
  background-image: url("../assets/page-6/land.svg");
  background-size: cover;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
}

body .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transform: translate(3%, 20%);
          transform: translate(3%, 20%);
}

body .card-row .card {
  background-color: #fff;
  border-radius: 2.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29vh;
  height: 23vh;
  margin: 1.3rem;
  padding: .2rem;
  border: 1px solid #0A4EA2;
}

body .card-row .card:hover {
  cursor: pointer;
  border-style: none;
}

body .card-row .card h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.6vw;
  color: #0170A4;
  text-transform: uppercase;
  text-align: center;
}

body .card-row .card img {
  max-width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card-role {
  position: absolute;
  width: 108vh;
  height: 68vh;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4.6vh;
  -webkit-transform: translate(30%, 28%);
          transform: translate(30%, 28%);
}

body .card-role .logo-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -3vh;
}

body .card-role .logo-role .logo-1 {
  margin: 2.3rem;
}

body .card-role .title-role {
  font-family: 'Baloo Da 2', cursive !important;
  position: relative;
  top: -4vh;
  font-weight: 800;
  font-size: 2.6vw;
  line-height: 5.5vh;
  text-align: center;
  color: #0170A4;
}

body .card-role .card-role-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .card-role .card-role-position .card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background: #0094D9;
  padding: .8rem 0;
  margin: 1.2rem 2.5rem;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .card-role .card-role-position .card-btn:hover {
  background: #0170A4;
  cursor: pointer;
}

body .role-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vh;
}

body .role-button .card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background: #0094D9;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .role-button .card-btn:hover {
  background: #0170A4;
  cursor: pointer;
}

body .role-button .card-btn-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background: #E93737;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .role-button .card-btn-danger:hover {
  background: #c92f2f;
  cursor: pointer;
}

body .card-btn-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40vh;
  height: 8vh;
  background: #0094D9;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
  padding: .3rem;
  margin: .8rem 2rem;
}

body .card-btn-department:hover {
  cursor: pointer;
}

body .board-10 {
  position: relative;
  -webkit-transform: translate(12.5%, 30%);
          transform: translate(12.5%, 30%);
  width: 138vh;
  height: 13vh;
  font-family: 'Baloo Da 2', cursive !important;
  font-weight: 800;
  color: #0063B1;
  font-style: normal;
  text-align: center;
  font-size: 2.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 15vh;
  margin-bottom: 4vh;
}

body .card-row-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-transform: translate(3%, 20%);
          transform: translate(3%, 20%);
}

body .card-row-department .card-department {
  background-color: #fff;
  border-radius: 2.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28vh;
  height: 23vh;
  margin: .6rem;
  padding: .2rem;
  border: 1px solid #0A4EA2;
}

body .card-row-department .card-department:hover {
  cursor: pointer;
  border-style: none;
}

body .card-row-department .card-department h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.6vw;
  color: #0170A4;
  text-transform: uppercase;
  text-align: center;
}

body .card-row-department .card-department img {
  max-width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .subtitle-certifications {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: center;
  color: #0063B1;
  position: relative;
  top: -3vh;
}

body .card-certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

body .card-certifications .card-btn-certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter', cursive;
  text-transform: uppercase;
  font-size: 1.4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vh;
  height: 8vh;
  background: #0094D9;
  padding: .2rem .4rem;
  margin: .8rem .4rem;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .card-certifications .card-btn-certifications:hover {
  background: #0170A4;
  cursor: pointer;
}

body .card-experience {
  position: absolute;
  width: 108vh;
  height: 90vh;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4.6vh;
  -webkit-transform: translate(30%, 6%);
          transform: translate(30%, 6%);
}

body .card-experience .title-experience {
  font-family: 'Baloo Da 2', cursive !important;
  position: relative;
  top: 8vh;
  font-weight: 800;
  font-size: 2.6vw;
  line-height: 5.5vh;
  text-align: center;
  color: #0063B1;
}

body .card-experience .subtitle-experience {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: center;
  color: #0063B1;
  position: relative;
  top: 9vh;
}

body .card-experience .department {
  max-width: 80vh;
  position: relative;
}

body .card-experience .department .title-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(20%, 250%);
          transform: translate(20%, 250%);
  border-bottom: 1px solid #000000;
  padding: 0 0 .5rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
}

body .card-experience .department .title-department h1 {
  font-family: 'Baloo Da 2', cursive !important;
  color: #000000;
  font-size: 2.6vw;
}

body .card-experience .department .panel-role {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(18%, 50%);
          transform: translate(18%, 50%);
  -webkit-transition: all 3s;
  transition: all 3s;
}

body .card-experience .department .panel-role .button-role {
  width: 296px;
  height: 53px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  background-color: #0094D9;
  color: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 1rem;
  border: none;
}

body .card-experience .department .panel-role .button-role:hover {
  background-color: #4BB156;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

body .card-experience .department .panel-role .button-role:focus {
  background-color: #4BB156;
}

body .board-finance {
  background-image: url("../assets/page-6/board.svg");
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(12.5%, 80%);
          transform: translate(12.5%, 80%);
  width: 138vh;
  height: 13vh;
  z-index: 999;
  font-family: 'Alfa Slab One', cursive;
  color: #693514;
  font-style: normal;
  text-align: center;
  font-size: 2.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .card-row-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

body .card-row-finance .card-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 26vh;
  height: auto;
  margin: 0 .5rem;
  gap: 1.3rem;
}

body .card-row-finance .card-finance .card-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
  height: 18vh;
  border-radius: 3vh;
  border: 1px solid #0A4EA2;
}

body .card-row-finance .card-finance .card-primary h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.6vw;
  color: #0063B1;
  text-transform: uppercase;
  text-align: center;
}

body .card-row-finance .card-finance .card-secondary {
  background-color: #0094D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 11vh;
  border: 1px solid #0A4EA2;
  border-radius: 3vh;
  overflow: hidden;
}

body .card-row-finance .card-finance .card-secondary h3 {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.4vw;
  text-align: center;
  text-transform: capitalize;
  padding: 1.2rem;
}

body .human-16 {
  position: absolute;
  background-image: url("../assets/page-6/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  z-index: 999;
  bottom: 1.5vh;
  left: 35vh;
}

body .opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

body .bulb-message {
  position: absolute;
  -webkit-transform: translate(77%, 10%);
          transform: translate(77%, 10%);
}

body .bulb-message img {
  width: 65vh;
  height: auto;
}

body .bulb-message .head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, -180%);
          transform: translate(0, -180%);
}

body .bulb-message .head-title .small-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.3vw;
  letter-spacing: .12em;
  color: #0063B1;
  text-transform: lowercase;
}

body .bulb-message .head-title .small-title-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.3vw;
  letter-spacing: -0.05em;
  color: #0063B1;
  text-transform: lowercase;
}

body .bulb-message .head-title .big-title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 4.8vw;
  letter-spacing: 0.015em;
  color: #0063B1;
}
/*# sourceMappingURL=main.css.map */