@font-face {
  font-family: "Brevia Bold";
  src: url("../font/Brevia/Brevia-Bold.otf");
}

@font-face {
  font-family: "Brevia Black";
  src: url("../font/Brevia/Brevia-Black.otf");
}

@font-face {
  font-family: "Brevia Medium";
  src: url("../font/Brevia/Brevia-Medium.otf");
}

@font-face {
  font-family: "Brevia Regular";
  src: url("../font/Brevia/Brevia-Regular.otf");
}

@font-face {
  font-family: "Inter Thin";
  src: url("../font/Inter/Inter-Thin.ttf");
}

@font-face {
  font-family: "Inter Light";
  src: url("../font/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("../font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../font/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter Semibold";
  src: url("../font/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../font/Inter/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Baloo Da Regular";
  src: url("../font/BalooDa2/BalooDa2-Regular.ttf");
}

@font-face {
  font-family: "Baloo Da Medium";
  src: url("../font/BalooDa2/BalooDa2-Medium.ttf");
}

@font-face {
  font-family: "Baloo Da Semibold";
  src: url("../font/BalooDa2/BalooDa2-SemiBold.ttf") format(ttf);
}

@font-face {
  font-family: "Baloo Da Bold";
  src: url("../font/BalooDa2/BalooDa2-Bold.ttf");
}

@font-face {
  font-family: "Baloo Da Extrabold";
  src: url("../font/BalooDa2/BalooDa2-ExtraBold.ttf");
}

@font-face {
  font-family: "Asap Regular";
  src: url("../font/Asap/Asap-Regular.ttf");
}

@font-face {
  font-family: "Asap Medium";
  src: url("../font/Asap/Asap-Medium.ttf");
}

@font-face {
  font-family: "Asap Semibold";
  src: url("../font/Asap/Asap-SemiBold.ttf");
}

@font-face {
  font-family: "Asap Bold";
  src: url("../font/Asap/Asap-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Regular";
  src: url("../font/Alegreya/Alegreya-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Medium";
  src: url("../font/Alegreya/Alegreya-Medium.ttf");
}

@font-face {
  font-family: "Alegreya Semibold";
  src: url("../font/Alegreya/Alegreya-SemiBold.ttf");
}

@font-face {
  font-family: "Alegreya Bold";
  src: url("../font/Alegreya/Alegreya-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Extrabold";
  src: url("../font/Alegreya/Alegreya-ExtraBold.ttf");
}

@font-face {
  font-family: "Alfa Slab One Regular";
  src: url("../font/AlfaSlabOne/AlfaSlabOne-Regular.ttf");
}

@font-face {
  font-family: "Allan Regular";
  src: url("../font/Allan/Allan-Regular.ttf");
}

@font-face {
  font-family: "Allan Bold";
  src: url("../font/Allan/Allan-Bold.ttf");
}

@font-face {
  font-family: "Assistant Regular";
  src: url("../font/Assistant/Assistant-Regular.ttf");
}

@font-face {
  font-family: "Assistant Medium";
  src: url("../font/Assistant/Assistant-Medium.ttf");
}

@font-face {
  font-family: "Assistant Semibold";
  src: url("../font/Assistant/Assistant-SemiBold.ttf");
}

@font-face {
  font-family: "Assistant Bold";
  src: url("../font/Assistant/Assistant-Bold.ttf");
}

@font-face {
  font-family: "Assistant Extrabold";
  src: url("../font/Assistant/Assistant-ExtraBold.ttf");
}

@font-face {
  font-family: "Bree Serif";
  src: url("../font/BreeSerif/BreeSerif-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant Regular', sans-serif;
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .logo {
  position: absolute;
  max-width: 30vw;
  max-height: 10vw;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../assets/logo.svg");
  background-size: cover;
}

body .text-center {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999;
}

body .text-center .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .text-center .content .bird {
  position: absolute;
  background-image: url("../assets/page-1/bird.png");
  background-size: auto;
  top: 19vh;
  right: -20vh;
  max-width: 30vw;
  max-height: 30vw;
  width: 100%;
  height: 100%;
}

body h1 {
  font-family: 'Baloo Da Extrabold', sans-serif !important;
  font-style: normal;
  font-weight: 800;
  color: #0451A4;
  font-size: 6vw;
  line-height: 1em;
  text-align: center;
  z-index: 999;
}

body h2 {
  font-family: 'Allan Regular', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 3vw;
  margin-top: 13vh;
  margin-bottom: 2vh;
  text-align: center;
}

body .mountain {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background-size: cover;
}

body .arrow {
  position: relative;
  width: 3.5%;
  height: auto;
  background-size: cover;
  z-index: 999;
}

body .cloud {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0;
  top: 0;
}

body .cloud .left-cloud {
  max-width: 77vh;
  max-height: 38vh;
  overflow: hidden;
}

body .cloud .left-cloud img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

body .cloud .right-cloud {
  max-width: 73vh;
  max-height: 38vh;
  overflow: hidden;
}

body .cloud .right-cloud img {
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
}

body .land {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

body .fence {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 5vh;
  z-index: 999;
}

body .farm {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 130px;
  z-index: -1;
}

body .static-cow {
  position: absolute;
  background-image: url("../assets/page-2/cow-1.svg");
  background-size: cover;
  width: 14vh;
  height: 10vh;
  left: 0;
  bottom: 32vh;
}

body .cow {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  bottom: -65vh;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

body .cow .left-cow {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  left: -127vh;
}

body .cow .right-cow {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: -127vh;
  top: -22vh;
}

body .board {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 71.5vh;
  height: 76vh;
  top: 35vh;
  -webkit-transform: translate(80%, -20%);
          transform: translate(80%, -20%);
  z-index: 999;
}

body .board .board-img {
  position: absolute;
  width: 71.5vh;
  height: 76vh;
}

body .board .title {
  position: absolute;
  font-family: 'Brevia Bold', cursive;
  font-weight: 900;
  font-size: 2.5vw;
  color: #693514;
  top: 8vh;
}

body .board .subtitle {
  position: absolute;
  font-family: 'Brevia Medium', serif;
  font-weight: 700;
  font-size: 2vw;
  line-height: 7vh;
  text-align: center;
  color: #693514;
  top: 18vh;
}

body .board-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(80%, 0%);
          transform: translate(80%, 0%);
  z-index: 999;
}

body .board-2 img {
  width: 71.3vh;
  height: 51vh;
}

body .board-2 .title {
  position: absolute;
  font-family: 'Brevia Bold', cursive;
  font-weight: 600;
  font-size: 2.4vw;
  line-height: 5.2vh;
  text-align: center;
  color: #0451A4;
  top: 25%;
}

body .board-2 .subtitle {
  position: absolute;
  font-family: 'Brevia Medium', cursive;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 3.6vh;
  text-align: center;
  color: #000;
  bottom: 30%;
}

body .human {
  background-image: url("../assets/page-3/human.svg");
  background-size: cover;
  position: absolute;
  width: 23.5vh;
  height: 59vh;
  -webkit-transform: translate(183%, 66%);
          transform: translate(183%, 66%);
  z-index: 999;
}

body .board-3 {
  background-image: url("../assets/page-3/bulb-message.svg");
  background-size: cover;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67vh;
  height: 49vh;
  -webkit-transform: translate(86%, 0%);
          transform: translate(86%, 0%);
  z-index: 999;
}

body .board-3 .subtitle {
  font-family: 'Brevia Medium', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 3.6vh;
  text-align: center;
  color: #000;
  -webkit-transform: translate(0%, 70%);
          transform: translate(0%, 70%);
}

body .board-3 .btn-login {
  font-family: 'Brevia Medium', sans-serif;
  background-color: #0094D9;
  font-size: 1.3vw;
  color: #fff;
  border-radius: 50px;
  border-style: none;
  padding: .8rem 3rem;
  -webkit-transform: translate(0%, 250%);
          transform: translate(0%, 250%);
}

body .board-3 .btn-login:hover {
  cursor: pointer;
}

body .farm-2 {
  position: absolute;
  background-image: url("../assets/page-5/farm.svg");
  background-size: cover;
  width: 100%;
  height: 60vh;
  z-index: -1;
  bottom: 16vh;
}

body .row-cow {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  bottom: -65vh;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

body .row-cow .single-cow {
  position: absolute;
  background-image: url("../assets/page-2/cow-2.png");
  background-size: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -12vh;
  top: -28vh;
}

body .human-2 {
  position: absolute;
  background-image: url("../assets/page-5/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  bottom: 2.5vh;
  left: 3vh;
  z-index: 999;
}

body .human-6 {
  position: absolute;
  background-image: url("../assets/page-6/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  bottom: 2.5vh;
  left: 3vh;
  z-index: 999;
}

body .left-fence {
  position: absolute;
  background-image: url("../assets/page-6/left-fence.svg");
  background-size: cover;
  width: 29vh;
  height: 34vh;
  bottom: 5vh;
  left: 0;
}

body .right-fence {
  position: absolute;
  background-image: url("../assets/page-6/right-fence.svg");
  background-size: cover;
  width: 29vh;
  height: 34vh;
  right: 0;
  bottom: 5vh;
}

body .board-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 14vh;
}

body .board-6 img {
  max-width: 125vh;
  width: 100%;
  height: auto;
}

body .board-6 h1 {
  position: absolute;
  font-family: 'Brevia Black', cursive;
  font-weight: 900;
  color: #693514;
  text-align: center;
  font-size: 2.6vw;
}

body .card-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90%;
  padding: 2rem;
  -webkit-transform: translate(3%, 18%);
          transform: translate(3%, 18%);
}

body .card-row .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2.8vh;
  background-color: #fff;
  max-width: 26vh;
  height: 23vh;
  width: 100%;
  margin: 1.3rem;
  padding: .2rem;
  border: 1px solid #0A4EA2;
}

body .card-row .card:hover {
  cursor: pointer;
}

body .card-row .card h3 {
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.5vw;
  color: #0063B1;
  text-transform: uppercase;
  text-align: center;
}

body .card-row .card img {
  max-width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card-role {
  position: absolute;
  max-width: 108vh;
  width: 100%;
  height: 68vh;
  background: #fff;
  border-radius: 4.6vh;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .card-role .logo-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -3vh;
}

body .card-role .logo-role .left-logo {
  margin: 2rem;
  max-width: 23vh;
  width: 100%;
  height: auto;
}

body .card-role .logo-role .right-logo {
  max-width: 22vh;
  width: 100%;
  height: auto;
  margin-right: -1.5rem;
}

body .card-role .title-role {
  font-family: 'Brevia Black', cursive !important;
  position: relative;
  top: -4vh;
  font-weight: 700;
  font-size: 2.6vw;
  line-height: 5.5vh;
  text-align: center;
  color: #0063B1;
}

body .card-role .card-role-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .card-role .card-role-position .card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background-color: #0094D9;
  padding: .8rem 0;
  margin: 1.2rem 2.5rem;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .card-role .card-role-position .card-btn:hover {
  background: #0170A4;
  cursor: pointer;
}

body .role-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vh;
}

body .role-button .card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background: #0094D9;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .role-button .card-btn:hover {
  background: #0170A4;
  cursor: pointer;
}

body .role-button .card-btn-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Brevia Medium';
  font-weight: 500;
  font-size: 1.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  height: auto;
  background: #E93737;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .role-button .card-btn-danger:hover {
  background: #c92f2f;
  cursor: pointer;
}

body .card-btn-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40vh;
  height: 8vh;
  background: #0094D9;
  padding: .8rem 0;
  color: #FFFFFF;
  border-radius: 5vh;
  padding: .3rem;
  margin: .8rem 2rem;
}

body .card-btn-department:hover {
  cursor: pointer;
}

body .board-10 {
  position: absolute;
  font-family: 'Bree Serif', cursive !important;
  font-weight: 400;
  font-size: 2.6vw;
  color: #0063B1;
  top: 18%;
  left: 29.5%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

body .card-row-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding: 0 8rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
}

body .card-row-department .card-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 2.8vh;
  width: 26vh;
  height: auto;
  margin: .8rem;
  padding: .6rem;
  border: 1px solid #0A4EA2;
}

body .card-row-department .card-department:hover {
  cursor: pointer;
}

body .card-row-department .card-department h3 {
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 1.6vw;
  color: #0170A4;
  text-transform: uppercase;
  text-align: center;
}

body .card-row-department .card-department img {
  max-width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .subtitle-certifications {
  font-family: 'Brevia Medium', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: center;
  color: #0063B1;
  position: relative;
  top: -3vh;
}

body .card-certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

body .card-certifications .card-btn-certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Inter Regular', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4vw;
  width: 30vh;
  height: 8vh;
  background: #0094D9;
  padding: .2rem .4rem;
  margin: .8rem .4rem;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  border-radius: 5vh;
}

body .card-certifications .card-btn-certifications:hover {
  background: #0170A4;
  cursor: pointer;
}

body .card-experience {
  position: absolute;
  width: 108vh;
  height: 90vh;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4.6vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .card-experience .title-experience {
  font-family: 'Baloo Da Extrabold', cursive !important;
  position: relative;
  top: 8vh;
  font-weight: 800;
  font-size: 2.6vw;
  line-height: 5.5vh;
  text-align: center;
  color: #0063B1;
}

body .card-experience .subtitle-experience {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: center;
  color: #0063B1;
  position: relative;
  top: 9vh;
}

body .card-experience .department {
  max-width: 80vh;
  position: relative;
}

body .card-experience .department .title-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(20%, 250%);
          transform: translate(20%, 250%);
  border-bottom: 1px solid #000000;
  padding: 0 0 .5rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
}

body .card-experience .department .title-department h1 {
  font-family: 'Baloo Da Extrabold', cursive !important;
  color: #000000;
  font-size: 2.6vw;
}

body .card-experience .department .title-department span img {
  width: 5vh;
  height: auto;
}

body .card-experience .department .panel-role {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(18%, 50%);
          transform: translate(18%, 50%);
  -webkit-transition: all 3s;
  transition: all 3s;
}

body .card-experience .department .panel-role .button-role {
  width: 37vh;
  height: 6vh;
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  background-color: #0094D9;
  color: #FFFFFF;
  border-radius: 6vh;
  margin-bottom: 1rem;
  border: none;
}

body .card-experience .department .panel-role .button-role:hover {
  background-color: #4BB156;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

body .card-experience .department .panel-role .button-role:focus {
  background-color: #4BB156;
}

body .board-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 14vh;
}

body .board-finance img {
  max-width: 125vh;
  width: 100%;
  height: auto;
}

body .board-finance p {
  position: absolute;
  font-family: 'Alfa Slab One Regular', cursive;
  font-style: normal;
  color: #693514;
  text-align: center;
  font-size: 2.6vw;
}

body .card-row-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 45%;
  left: 1.3%;
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
}

body .card-row-finance .card-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 26vh;
  height: auto;
  margin: 0 .5rem;
  gap: 1.3rem;
}

body .card-row-finance .card-finance .card-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
  height: 18vh;
  border-radius: 3vh;
  border: 1px solid #0A4EA2;
}

body .card-row-finance .card-finance .card-primary h3 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 600;
  font-size: 1.6vw;
  color: #0063B1;
  text-transform: uppercase;
  text-align: center;
}

body .card-row-finance .card-finance .card-secondary {
  background-color: #0094D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 11vh;
  border: 1px solid #0A4EA2;
  border-radius: 3vh;
  overflow: hidden;
}

body .card-row-finance .card-finance .card-secondary h3 {
  font-family: 'Inter Regular', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.4vw;
  text-align: center;
  text-transform: capitalize;
  padding: 1.2rem;
}

body .human-16 {
  position: absolute;
  background-image: url("../assets/page-6/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  z-index: 999;
  bottom: 1.5vh;
  left: 35vh;
}

body .opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

body .bulb-message {
  position: absolute;
  -webkit-transform: translate(77%, 10%);
          transform: translate(77%, 10%);
}

body .bulb-message img {
  width: 65vh;
  height: auto;
}

body .bulb-message .head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .bulb-message .head-title .small-title {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 2.3vw;
  letter-spacing: .12em;
  color: #0063B1;
  text-transform: lowercase;
}

body .bulb-message .head-title .small-title-2 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 2.1vw;
  letter-spacing: -0.015em;
  color: #0063B1;
  text-transform: lowercase;
}

body .bulb-message .head-title .big-title {
  font-family: 'Inter Extra Bold', sans-serif;
  font-weight: 800;
  font-size: 4.8vw;
  letter-spacing: 0.015em;
  color: #0063B1;
}

body .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
}

body .loader img {
  width: 16vh;
  height: 16vh;
}

body .human-17 {
  position: absolute;
  background-image: url("../assets/page-6/human.svg");
  background-size: cover;
  width: 25vh;
  height: 57vh;
  z-index: 999;
  bottom: .5vh;
  left: 7vh;
}

body .grid-board {
  position: relative;
  background-image: url("../assets/page-17/board.svg");
  background-size: cover;
  width: 142vh;
  height: 95vh;
  -webkit-transform: translate(12%, 0);
          transform: translate(12%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 2rem;
}

body .grid-board .title-grid-board {
  position: relative;
  font-family: 'Alfa Slab One Regular', cursive !important;
  font-weight: 400;
  font-size: 2.8vw;
  color: #633213;
  top: 5vh;
}

body .grid-board .grid-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: .3em;
  top: 10vh;
}

body .grid-board .grid-container div {
  max-width: 16vh;
  min-height: 6vh;
  color: #FFFFFF;
  border-radius: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Asap Regular', sans-serif !important;
  font-size: .85vw;
  font-weight: 700;
  line-height: 1.2em;
  color: #FFFFFF;
  padding: .3rem;
  overflow: auto;
}

body .grid-board .grid-container div.not-flow ul li {
  color: #FFFFFF !important;
}

body .grid-board .grid-container div ul {
  margin: 0 .8rem;
}

body .grid-board .grid-container div ul li:only-child {
  list-style: none;
}

body .grid-board .grid-container div ul li:not(:only-child) {
  font-size: .6vw;
  list-style: disc;
}

body .grid-board .grid-container div ul li:not(:only-child):first-child {
  color: white;
}

body .grid-board .grid-container div ul li:not(:only-child):not(:first-child) {
  color: #474243;
}

body .grid-board .grid-container .red {
  height: auto;
  background-color: #F92B58;
}

body .grid-board .grid-container .blue {
  height: auto;
  background-color: #0094D9;
}

body .grid-board .grid-container .not-flow {
  height: auto;
  opacity: .7;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

body .grid-board .grid-container .not-flow:hover ul li {
  opacity: 1;
  color: #000 !important;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .grid-board .footer-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  width: 85%;
  bottom: 7vh;
}

body .grid-board .footer-board .left-footer {
  position: relative;
  border-left: .3rem solid #0468BA;
  padding: 0 .3rem;
}

body .grid-board .footer-board .left-footer h1,
body .grid-board .footer-board .left-footer p {
  font-family: 'Inter Regular', sans-serif;
}

body .grid-board .footer-board .left-footer h1 {
  font-weight: 400;
  text-align: left;
  color: #000000;
  font-size: .9vw;
}

body .grid-board .footer-board .left-footer p {
  font-size: .9vw;
  font-weight: 700;
  color: #0468BA;
}

body .grid-board .footer-board .right-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body .grid-board .footer-board .right-footer .share-btn img {
  width: 2vw;
}

body .grid-board .footer-board .right-footer .left-arrow img {
  width: 3vw;
}

body .grid-board .footer-board .right-footer .right-arrow img {
  width: 3vw;
}

body #svgContainer {
  z-index: -10;
  position: absolute;
}

body .big-card-role {
  position: absolute;
  max-width: 160vh;
  width: 100%;
  height: 90vh;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4.6vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .big-card-role .logo-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -3vh;
}

body .big-card-role .logo-role .left-logo {
  margin: 2rem;
  width: 23vh;
  height: auto;
}

body .big-card-role .logo-role .right-logo {
  width: 22vh;
  height: auto;
  margin-right: -1.5rem;
}

body .big-card-role .title-role {
  position: relative;
  font-family: 'Baloo Da Extrabold', cursive !important;
  font-size: 2.6vw;
  text-align: center;
  top: -8vh;
  color: #0063B1;
}

body .big-card-role .scrollable-container {
  padding: 0 3rem 0 0;
  height: 43.7vh;
  overflow-y: auto;
  margin: 0 3rem;
}

body .big-card-role .scrollable-container::-webkit-scrollbar {
  background-color: #D9D9D9;
  border-radius: 1.25vh;
  width: 1.75vh;
}

body .big-card-role .scrollable-container::-webkit-scrollbar-thumb {
  background-color: #77BBE6;
  border-radius: 10px;
}

body .big-card-role .scrollable-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .8rem 0;
}

body .big-card-role .scrollable-container .content .left-col {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

body .big-card-role .scrollable-container .content .left-col div {
  font-family: 'Baloo Da Extrabold', cursive !important;
  font-size: 1.4vw;
  text-align: left;
  color: #0063B1;
}

body .big-card-role .scrollable-container .content .right-col {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
}

body .big-card-role .scrollable-container .content .right-col div {
  font-family: 'Brevia Medium', cursive !important;
  font-size: 1.3vw;
  text-align: left;
  color: #000000;
}

body .big-card-role .scrollable-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

body .big-card-role .scrollable-container .bottom .link {
  font-family: 'Baloo Da Regular';
  font-size: 1vw;
  text-align: center;
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid #ddd;
}

body .big-card-role .scrollable-container .bottom .link span {
  color: #0094D9;
  font-family: 'Baloo Da Bold';
}

body .big-card-role .scrollable-container .bottom .tax-finance {
  font-family: 'Baloo Da Extrabold';
  font-size: 1.5vw;
  color: #474243;
  padding: .6rem 0;
}

body .big-card-role .scrollable-container .bottom .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .3rem;
  gap: 2rem;
}

body .big-card-role .scrollable-container .bottom .card .card-body {
  text-align: center;
  background-color: #0A4EA2;
  color: #FFFFFF;
  padding: .8rem;
  border-radius: 1.3rem;
}

body .big-card-role .scrollable-container .bottom .card .card-body .card-title {
  font-family: 'Baloo Da Extrabold';
  font-size: 1.3vw;
  padding-bottom: .8rem;
}

body .big-card-role .scrollable-container .bottom .card .card-body .card-content {
  font-family: 'Brevia Medium';
  border-top: 1px solid #2857a9;
  font-size: 1vw;
  padding: .8rem;
}

body .big-card-role hr {
  border-top: 1px solid #000;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

body .big-card-role .share-btn img {
  position: absolute;
  width: 5.6vh;
  height: 6.1;
  left: 0;
  bottom: 0;
  padding: 2rem 3rem;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 25%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

body .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 .3rem;
}

body .container .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem;
  border: .2rem solid #0468BA;
  border-radius: 2rem;
}

body .container .card .card-body img {
  width: 43vh;
  height: 22vh;
}

body .container .card .play-btn {
  font-family: 'Inter Bold';
  text-align: center;
  font-size: 1vw;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0063B1;
  border: none;
  border-radius: 1em;
  width: 50%;
  padding: .3rem 3rem;
  margin: .5rem 0 .8rem 0;
}
/*# sourceMappingURL=main.css.map */